<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add Payment - Farma</title>
    <link rel="stylesheet" th:href="@{/user/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/user/css/Sidebar-Menu-1.css}">
    <link rel="stylesheet" th:href="@{/user/css/Sidebar-Menu.css}">
    <link rel="stylesheet" th:href="@{/user/css/smoothproducts.css}">
    <link rel="stylesheet" th:href="@{/user/css/Header-Blue.css}">
    <link rel="stylesheet" th:href="@{/user/fonts/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/" style="font-size: 27px;">&nbsp;<i class="fas fa-store" style="color: rgb(0,123,255);font-size: 27px;"></i>&nbsp;Farma</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="home" style="color: rgb(0,0,0);">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="faq" style="color: rgb(0,0,0);">FAQ</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="about" style="color: rgb(0,0,0);">ABOUT US</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="settings" style="font-weight: bold;color: #007bff;"><i class="fa fa-user-circle"></i>&nbsp;<span th:text="${userFullName}"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page contact-us-page">
    <section class="clean-block clean-form dark" style="padding-bottom: 1px;">
        <div class="row">
            <div class="col">
                <div id="wrapper">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand"> </li>
                            <li> <a href="home" style="color: rgb(255,255,255);"><i class="fas fa-home" style="font-size: 15px;"></i>&nbsp; Home</a><a href="create-order" style="color: rgb(255,255,255);"><i class="fas fa-plus" style="font-size: 15px;"></i>&nbsp; Create Order</a>
                                <a href="orders" style="color: rgb(255,255,255);"><i class="fas fa-box-open" style="font-size: 15px;"></i>&nbsp; My Orders</a><a href="payment" style="color: rgb(255,255,255);"><i class="far fa-credit-card" style="font-size: 15px;"></i>&nbsp; Payment</a><a href="settings" style="color: rgb(255,255,255);"><i class="fas fa-user-cog" style="font-size: 15px;"></i>&nbsp; Settings</a><a href="#" style="color: rgb(255,255,255);"><i class="fas fa-sign-out-alt" style="font-size: 15px;"></i>&nbsp; Log-out</a></li>
                            <li>
                            </li>
                            <li> </li>
                        </ul>
                    </div>
                    <div class="page-content-wrapper">
                        <div class="container-fluid" style="padding-top: 19px;"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #999999;"></i></a>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <h1 style="font-size: 30px;">Payment&nbsp;<br></h1>
                                    </div>
                                    <p style="font-size: 13px;">Enter payment details with credit card info</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" style="padding-top: 20px;background-color: #ffffff;">
                            <form style="height: 625px;" autocomplete="off" action="#" th:action="@{/user/add-payment}" th:object="${paymentMethod}" method="post" class="form-horizontal" role="form">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Add New Credit Card</h4>
                                        <p class="card-text" style="font-size: 12px;color: rgb(79,81,82);">For more information about the questions and possible solutions please read the following&nbsp;<a href="https://bootstrapstudio.io/app/?shell=4#">article</a>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="hidden">
                                        </div>
                                        <label style="font-size: 14px;">Credit Card Number</label>
                                        <div class="form-group">
                                            <input class="form-control form-control-sm" type="text" th:field="*{creditCardNumber}" minlength="19" maxlength="19" required=""><span class="invisible">Text</span>
                                            <div class="form-row">
                                                <div class="col">
                                                    <label style="font-size: 14px;">Expiration Date</label>
                                                    <select class="custom-select custom-select-sm" th:field="*{expirationMonth}" required="">
                                                        <optgroup label="Month">
                                                            <option disabled="true" selected="selected" value="">Select</option>
                                                            <option value="1">January</option>
                                                            <option value="2">February</option>
                                                            <option value="3">March</option>
                                                            <option value="4">April</option>
                                                            <option value="5">May</option>
                                                            <option value="6">June</option>
                                                            <option value="7">July</option>
                                                            <option value="8">August</option>
                                                            <option value="9">September</option>
                                                            <option value="10">October</option>
                                                            <option value="11">November</option>
                                                            <option value="12">December</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label class="invisible">Label</label>
                                                    <select class="custom-select custom-select-sm" th:field="*{expirationYear}" required="">
                                                        <optgroup label="Year">
                                                            <option disabled="true" selected="selected" value="">Select</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <label style="font-size: 14px;">Name on Card</label>
                                                <input class="form-control form-control-sm" type="text" th:field="*{cardOwner}" required="" maxlength="100" minlength="1"><span class="invisible">Text</span>
                                                <div class="form-row">
                                                    <div class="col-xl-7">
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <label class="col-form-label" style="font-size: 14px;">Card Security Code</label>
                                                            </div>
                                                        </div>
                                                        <label style="font-size: 11px;">The last 3 digits on the back of card&nbsp;</label>
                                                        <input class="form-control" type="password" th:field="*{cardSecurityCode}" minlength="3" maxlength="3" required="">
                                                    </div>
                                                    <div class="col"><img src="/user/img/back_of_the_credit_card.png" width="50" style="padding-right: 0;padding-top: 69px;font-size: 18px;"></div>
                                                </div>
                                            </div>
                                        </div><span class="invisible">Text</span>
                                        <div class="form-group">
                                            <button class="btn btn-outline-primary" type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/user/js/smoothproducts.min.js"></script>
<script src="/user/js/theme.js"></script>
<script src="/user/js/Sidebar-Menu.js"></script>
</body>

</html>