<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" th:href="@{/user/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/user/css/Sidebar-Menu-1.css}">
    <link rel="stylesheet" th:href="@{/user/css/Sidebar-Menu.css}">
    <link rel="stylesheet" th:href="@{/user/css/smoothproducts.css}">
    <link rel="stylesheet" th:href="@{/user/css/Header-Blue.css}">
    <link rel="stylesheet" th:href="@{/user/fonts/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="index.html" style="font-size: 27px;">&nbsp;<i class="fas fa-store" style="color: rgb(0,123,255);font-size: 27px;"></i>&nbsp;Farma</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="home.html" style="color: rgb(0,123,255);">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgb(0,123,255);">FAQ</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="payment-page.html" style="color: rgb(0,123,255);">ABOUT US</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="home.html" style="font-weight: bold;color: #000000;"><i class="fa fa-user-circle"></i>&nbsp;Yavuz SELIM POLAT</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page contact-us-page">
    <section class="clean-block clean-form dark" style="padding-bottom: 1px;">
        <div class="row">
            <div class="col">
                <div id="wrapper">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand"> </li>
                            <li><span class="text-uppercase" style="color: rgb(142,142,142);">Yavuz Selim Polat</span> <a href="home.html" style="color: rgb(255,255,255);"><i class="fas fa-home" style="font-size: 15px;"></i>&nbsp; Home</a><a href="create-order" style="color: rgb(255,255,255);"><i class="fas fa-plus" style="font-size: 15px;"></i>&nbsp; Create Order</a><a href="my-orders.html" style="color: rgb(255,255,255);"><i class="fas fa-box-open" style="font-size: 15px;"></i>&nbsp; My Orders</a>
                                <a href="add-payment.html" style="color: rgb(255,255,255);"><i class="far fa-credit-card" style="font-size: 15px;"></i>&nbsp; Payment</a><a href="#" style="color: rgb(255,255,255);"><i class="fas fa-user-cog" style="font-size: 15px;"></i>&nbsp; Settings</a><a href="#" style="color: rgb(255,255,255);"><i class="fas fa-sign-out-alt" style="font-size: 15px;"></i>&nbsp; Log-out</a></li>
                            <li>
                            </li>
                            <li> </li>
                        </ul>
                    </div>
                    <div class="page-content-wrapper">
                        <div class="container-fluid" style="padding-top: 19px;"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #999999;"></i></a>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <h1>Create Order<br></h1>
                                    </div>
                                    <p>New order with prescription code</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" style="padding-top: 19px;background-color: #ffffff;">
                            <form>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title" style="color: rgb(0,123,255);">Prescription Code</h4>
                                        <h6 class="text-muted card-subtitle mb-2">Mandatory to proceed</h6>
                                        <p class="card-text" style="font-size: 14px;">You need to enter the prescription code and then will need to enter a payment method. Otherwise, once you receive the prescription code from your doctor, enter it here and ensure that entered valid payment method.<br></p>
                                        <p
                                                class="card-text" style="font-size: 12px;color: rgb(79,81,82);">For more information about the questions and possible solutions please read the following&nbsp;<a href="https://bootstrapstudio.io/app/?shell=4#">article</a><br></p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><input class="form-control" type="hidden"></div>
                                        <div class="form-group"><input class="form-control" type="text"></div>
                                        <div class="form-group"><button class="btn btn-primary" type="button" style="color: rgb(0,123,255);background-color: rgb(255,255,255);">Enter</button></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/user/js/smoothproducts.min.js"></script>
<script src="/user/js/theme.js"></script>
<script src="/user/js/Sidebar-Menu.js"></script>
</body>

</html>