<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Proceed with your order - Farma</title>
    <link rel="stylesheet" th:href="@{/user/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/user/css/Sidebar-Menu-1.css}">
    <link rel="stylesheet" th:href="@{/user/css/Sidebar-Menu.css}">
    <link rel="stylesheet" th:href="@{/user/css/smoothproducts.css}">
    <link rel="stylesheet" th:href="@{/user/css/Header-Blue.css}">
    <link rel="stylesheet" th:href="@{/user/fonts/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/" style="font-size: 27px;">&nbsp;<i class="fas fa-store" style="color: rgb(0,123,255);font-size: 27px;"></i>&nbsp;Farma</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="home" style="color: rgb(0,0,0);">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="faq" style="color: rgb(0,0,0);">FAQ</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="about" style="color: rgb(0,0,0);">ABOUT US</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="settings" style="font-weight: bold;color: rgb(0,123,255);"><i class="fa fa-user-circle"></i>&nbsp;<span th:text="${userFullName}"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page contact-us-page">
    <section class="clean-block clean-form dark" style="padding-bottom: 1px;">
        <div class="row">
            <div class="col">
                <div id="wrapper">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand"> </li>
                            <li> <a href="home" style="color: rgb(255,255,255);"><i class="fas fa-home" style="font-size: 15px;"></i>&nbsp; Home</a><a href="create-order" style="color: rgb(255,255,255);"><i class="fas fa-plus" style="font-size: 15px;"></i>&nbsp; Create Order</a>
                                <a href="orders" style="color: rgb(255,255,255);"><i class="fas fa-box-open" style="font-size: 15px;"></i>&nbsp; My Orders</a><a href="payment" style="color: rgb(255,255,255);"><i class="far fa-credit-card" style="font-size: 15px;"></i>&nbsp; Payment</a><a href="settings" style="color: rgb(255,255,255);"><i class="fas fa-user-cog" style="font-size: 15px;"></i>&nbsp; Settings</a><a href="#" style="color: rgb(255,255,255);"><i class="fas fa-sign-out-alt" style="font-size: 15px;"></i>&nbsp; Log-out</a></li>
                            <li>
                            </li>
                            <li> </li>
                        </ul>
                    </div>
                    <div class="page-content-wrapper">
                        <div class="container-fluid" style="padding-top: 19px;height: 109px;"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #999999;"></i></a>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <h1 style="font-size: 30px;">Proceed with new order<br></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" style="padding-top: 19px;background-color: #ffffff;">
                            <div class="row">
                                <div class="col-xl-7" style="margin: 4px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title" style="color: #007bff;"><strong>Review your order</strong><br></h4>
                                            <p class="card-text" style="font-size: 16px;">Prescription Code: &nbsp;<strong><span th:text="${userOrder.prescriptionCode}"></span></strong></p>
                                            <form autocomplete="off" th:action="@{/updateCartItem}" method="post" class="form-horizontal" role="form">
                                                <h6 class="text-muted mb-2" style="font-size: 22px;font-style: normal;font-weight: bold;">Cart</h6>
                                                <div class="table-responsive" style="font-size: 12px;">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Availability</th>
                                                            <th>Price</th>
                                                            <th>Include</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="orderItem : ${orderItemList}">
                                                            <td><span th:text="${orderItem.medicineName}"></span></td>
                                                            <td>Yes</td>
                                                            <td>$<span th:text="${orderItem.price}"></span></td>
                                                            <td>&nbsp; &nbsp; &nbsp;&nbsp;
                                                                <input type="checkbox" th:value="${orderItem.include}" th:checked="${orderItem.include}">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h6 class="text-muted mb-2" style="font-size: 22px;font-weight: bold;">Pharmacy</h6>
                                                <p style="font-size: 12px;">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                                <div class="table-responsive" style="font-size: 12px;">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Selection</th>
                                                            <th>Price</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="p : ${form.userOrders}">
                                                            <td><span th:text="${p.pharmacy.pharmacy_name}"></span></td>
                                                            <td>&nbsp; &nbsp; &nbsp;&nbsp;
                                                                     <input class="form-check-input" th:value="${p.active}" th:checked="${p.active}" type="radio" name="gridRadios" id="gridRadios1">
                                                            </td>
                                                            <td>$<span th:text="${p.orderTotal}"></span></td>
                                                        </tr>
                                                        <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- <button class="btn btn-outline-danger btn-sm" type="submit">Update</button> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="padding-top: 75px;padding-right: 52px;">
                                    <form style="width: 300px;height: 465px;background-color: rgb(246,246,246);" th:action="@{/user/complete-order}" method="post">
                                        <div class="card">
                                            <div class="card-body" style="height: 360px;">
                                                <h4 class="card-title" style="color: #007bff;"><strong>Order Summary</strong><br></h4>
                                                <hr>
                                                <h6 class="text-muted card-subtitle mb-2"><span th:text="${orderItemList.size()}"></span> medicine(s)</h6>
                                                <p style="font-size: 11px;">By placing your order, you agree to Farma's privacy notice and conditions of use.</p>
                                                <div class="table-responsive" style="width: 183px;height: 128px;font-size: 10px;">
                                                    <table class="table">
                                                        <thead>
                                                        <tr></tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>Items:</td>
                                                            <td>$<span th:text="${orderTotal}"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Shipping:</td>
                                                            <td>$<span th:text="${shipping}"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Pharmacy:</td>
                                                            <td><span th:text="${selectedPharmacyName}"></span></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <p style="font-size: 14px;font-weight: bold;padding-top: 5px;">Order Total: $<span th:text="${grandTotal}"></span></p>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <input class="form-control" type="hidden">
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-outline-primary btn-sm" type="submit">Order</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/user/js/smoothproducts.min.js"></script>
<script src="/user/js/theme.js"></script>
<script src="/user/js/Sidebar-Menu.js"></script>
</body>

</html>