<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Proceed with your order - Farma</title>
    <link rel="stylesheet" th:href="@{/user/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/user/css/Sidebar-Menu-1.css}">
    <link rel="stylesheet" th:href="@{/user/css/Sidebar-Menu.css}">
    <link rel="stylesheet" th:href="@{/user/css/smoothproducts.css}">
    <link rel="stylesheet" th:href="@{/user/css/Header-Blue.css}">
    <link rel="stylesheet" th:href="@{/user/fonts/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/" style="font-size: 27px;">&nbsp;<i class="fas fa-store" style="color: rgb(0,123,255);font-size: 27px;"></i>&nbsp;Farma</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/" style="color: rgb(0,0,0);">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="faq" style="color: rgb(0,0,0);">FAQ</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="about" style="color: rgb(0,0,0);">ABOUT US</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="settings" style="font-weight: bold;color: rgb(0,123,255);"><i class="fa fa-user-circle"></i>&nbsp;<span th:text="${userFullName}"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page contact-us-page">
    <section class="clean-block clean-form dark" style="padding-bottom: 1px;">
        <div class="row">
            <div class="col">
                <div id="wrapper">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand"> </li>
                            <li> <a href="home" style="color: rgb(255,255,255);"><i class="fas fa-home" style="font-size: 15px;"></i>&nbsp; Home</a><a href="create-order" style="color: rgb(255,255,255);"><i class="fas fa-plus" style="font-size: 15px;"></i>&nbsp; Create Order</a>
                                <a
                                        href="orders" style="color: rgb(255,255,255);"><i class="fas fa-box-open" style="font-size: 15px;"></i>&nbsp; My Orders</a><a href="payment" style="color: rgb(255,255,255);"><i class="far fa-credit-card" style="font-size: 15px;"></i>&nbsp; Payment</a><a href="settings"
                                                                                                                                                                                                                                                                                                      style="color: rgb(255,255,255);"><i class="fas fa-user-cog" style="font-size: 15px;"></i>&nbsp; Settings</a><a href="#" style="color: rgb(255,255,255);"><i class="fas fa-sign-out-alt" style="font-size: 15px;"></i>&nbsp; Log-out</a></li>
                            <li>
                            </li>
                            <li> </li>
                        </ul>
                    </div>
                    <div class="page-content-wrapper">
                        <div class="container-fluid" style="padding-top: 19px;height: 109px;"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #999999;"></i></a>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <h1 style="font-size: 30px;">Settings<br></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" style="padding-top: 19px;background-color: #ffffff;">
                            <div class="row">
                                <div class="col-xl-7" style="margin: 4px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title" style="color: #007bff;"><strong>User Details</strong><br></h4>
                                            <form autocomplete="off" action="#" th:action="@{/user/profile/saveContact}"
                                                  th:object="${user}" method="post" class="form-horizontal"
                                                  role="form">
                                                <div class="form-row">
                                                    <div class="col"><span style="font-size: 14px;">Email Address</span></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col"><input class="form-control form-control-sm" type="text" style="width: 210px;" th:value="${user.email}" name="email" disabled></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col"><span style="font-size: 15px;">First Name</span></div>
                                                    <div class="col"><span style="font-size: 14px;">Last Name</span></div>
                                                </div>
                                                <input type="hidden" th:field="${user.id}" th:value="${user.id}" />
                                                <div class="form-row">
                                                    <div class="col"><input class="form-control form-control-sm" type="text" style="width: 210px;" th:value="${user.name}" name="email" disabled></div>
                                                    <div class="col"><input class="form-control form-control-sm" type="text" th:value="${user.lastName}" name="email" disabled></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col"><span style="font-size: 14px;">Mobile Number</span></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col"><input class="form-control form-control-sm" type="text" style="width: 210px;" th:value="${user.mobileNumber}" name="mobileNumber"></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col"><span style="font-size: 14px;">Address</span>
                                                        <div class="form-row">
                                                            <div class="col"><input class="form-control form-control-sm" type="text" style="width: 420px;" th:value="${user.address}" name="address"></div>
                                                        </div><span style="font-size: 14px;">Country</span></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <select class="form-control-sm" th:field="*{country.id}">
                                                            <option th:each="c : ${countries}"
                                                                    th:value="${c.id}"
                                                                    th:text="${c.country_name}"
                                                                    th:selected="${c.id} == ${user.country.id}"></option>
                                                        </select>                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col"><span style="font-size: 14px;">Province</span></div>
                                                    <div class="col"><span style="font-size: 14px;">District</span></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <select class="form-control-sm" th:field="*{province.id}">
                                                            <option th:each="p : ${provinces}"
                                                                    th:value="${p.id}"
                                                                    th:text="${p.province_name}"
                                                                    th:selected="${p.id} == ${user.province.id}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <select class="form-control-sm" th:field="*{district.id}">
                                                            <option th:each="d : ${districts}"
                                                                    th:value="${d.id}"
                                                                    th:text="${d.district_name}"
                                                                    th:selected="${d.id} == ${user.district.id}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col"><span class="invisible">Text</span></div><button class="btn btn-outline-primary btn-sm" type="submit">Update</button></form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="padding-top: 75px;padding-right: 52px;">
                                    <form autocomplete="off" action="#" th:action="@{/user/profile/savePassword}"
                                          th:object="${user}" method="post" class="form-horizontal"
                                          role="form" style="width: 300px;height: 374px;background-color: rgb(246,246,246);">
                                        <div class="card" style="height: 270px;">
                                            <div class="card-body" style="height: 360px;">
                                                <h4 class="card-title" style="color: #007bff;font-size: 17px;"><strong>Password Settings</strong><br></h4>
                                                <hr>
                                                <input type="hidden" th:field="${user.id}" th:value="${user.id}" />
                                                <p style="font-size: 11px;">By placing your new password, you will need to login with new credentials.</p>
                                                <span style="font-size: 14px;">New Password</span>
                                                <input class="form-control form-control-sm" th:field="*{rePassword}" type="password">
                                                <span style="font-size: 14px;">Verify Password</span>
                                                <input class="form-control form-control-sm" th:field="*{newPassword}" type="password"></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><input class="form-control" type="hidden"></div>
                                                <div class="form-group"><button class="btn btn-outline-primary btn-sm" type="submit">Update</button></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/user/js/smoothproducts.min.js"></script>
<script src="/user/js/theme.js"></script>
<script src="/user/js/Sidebar-Menu.js"></script>
</body>

</html>