
.classpath
.project
.settings/
target/
.DS_Store
farma-app/backend/.mvn/wrapper/maven-wrapper.jar
farma-app/backend/.mvn/wrapper/maven-wrapper.properties
farma-app/backend/.mvn/wrapper/MavenWrapperDownloader.java
farma-app/backend/mvnw
farma-app/backend/mvnw.cmd
farma-app/.idea/compiler.xml
farma-app/.idea/encodings.xml
farma-app/.idea/misc.xml
farma-app/.idea/workspace.xml
farma-app/.idea/vcs.xml
farma-app/.idea/uiDesigner.xml
