<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" type="text/css" th:href="@{/pharmacy/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-store"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>FARMA</span></div>
                </a>
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Central pharmacy</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="home"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        <a class="nav-link" href="orders"><i class="fas fa-money-bill-alt"></i><span>Orders</span></a>
                        <a class="nav-link" href="products"><i class="fas fa-dolly"></i><span>Products</span></a>
                        <a class="nav-link" href="reports"><i class="far fa-chart-bar"></i><span>Reports</span></a>
                        <a class="nav-link active" href="profile"><i class="fas fa-user-tie"></i><span>Profile</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                            <li class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                    <span class="badge badge-danger badge-counter" th:text="${alertCount}">+</span><i class="fas fa-bell fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu">
                                    <h6 class="dropdown-header">alerts center</h6>
                                    <a class="d-flex align-items-center dropdown-item" th:each="alert : ${alerts}" href="orders">
                                        <div class="mr-3">
                                            <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500"><span th:text="${alert.alertDate}"></span></span>
                                            <p>$<span th:text="${alert.content}"></span> order has been received!</p>
                                        </div>
                                    </a>
                                    <a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </li>
                            <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                            <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small" th:text="${userFullName}"></span><img class="border rounded-circle img-profile" src="/pharmacy/img/avatars/flat_business_man.png"></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                    <a class="dropdown-item" role="presentation" href="/pharmacist/profile"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" role="presentation" href="#">
                                        <form th:action="@{/logout}" method="get">
                                            <button class="btn btn-sm btn-danger btn-block" name="registration" type="Submit">Logout
                                            </button>
                                        </form>
                                    </a>
                                </div>
                            </li>
                            </li>
                        </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Profile</h3>
                <h4 class="text-dark mb-4"><span th:text="${userFullName}"></span></h4>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="/pharmacy/img/avatars/flat_business_man.png" width="190" height="175">
                                <!--<div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div> -->
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Password Settings</h6>
                            </div>
                            <div class="card-body">
                                <form autocomplete="off" action="#" th:action="@{/pharmacist/profile/savePassword}"
                                      th:object="${user}" method="post" class="form-horizontal"
                                      role="form">
                                    <div class="form-group">
                                        <input type="hidden" th:field="${user.id}" th:value="${user.id}" />
                                        <label for="newpassword"><strong>New Password</strong></label>
                                        <input class="form-control" type="password" th:field="*{rePassword}" name="address">
                                        <label for="repassword"><strong>Verify Password</strong><br></label>
                                        <input class="form-control" type="password" th:field="*{newPassword}" name="address"></div>
                                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Change Password</button></div>
                                </form>
                                <div th:if="${errorMessage}" class="alert alert-danger"
                                     role="alert" th:text="${errorMessage}" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-success shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">User Details</p>
                                    </div>
                                    <div class="card-body">
                                        <form autocomplete="off" action="#" th:action="@{/pharmacist/save(userId=${user.email})}"
                                              th:object="${user}" method="post" class="form-horizontal"
                                              role="form">
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="email"><strong>Email Address</strong></label><input class="form-control" type="email"  th:value="${user.email}" name="email" disabled></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="first_name"><strong>First Name</strong></label><input class="form-control" type="text" th:value="${user.name}" name="first_name" disabled></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text" th:value="${user.lastName}" name="last_name" disabled></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Contact Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form autocomplete="off" action="#" th:action="@{/pharmacist/profile/saveContact}"
                                              th:object="${user}" method="post" class="form-horizontal"
                                              role="form">
                                            <div class="form-group">
                                                <input type="hidden" th:field="${user.id}" th:value="${user.id}" />
                                                <label for="mobileNumber"><strong>Mobile Number</strong></label>
                                                <input class="form-control" type="text" th:value="${user.mobileNumber}" name="mobileNumber">
                                                <label for="address"><strong>Address</strong></label>
                                                <input class="form-control" type="text" th:value="${user.address}" name="address">
                                                <label for="country"><strong>Country</strong></label>
                                                <select class="form-control" th:field="*{country.id}">
                                                    <option th:each="c : ${countries}"
                                                            th:value="${c.id}"
                                                            th:text="${c.country_name}"
                                                            th:selected="${c.id} == ${user.country.id}"></option>
                                                </select>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="city"><strong>Province</strong></label>
                                                        <select class="form-control" th:field="*{province.id}">
                                                            <option th:each="p : ${provinces}"
                                                                    th:value="${p.id}"
                                                                    th:text="${p.province_name}"
                                                                    th:selected="${p.id} == ${user.province.id}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="district"><strong>District</strong></label>
                                                        <select class="form-control" th:field="*{district.id}">
                                                            <option th:each="d : ${districts}"
                                                                    th:value="${d.id}"
                                                                    th:text="${d.district_name}"
                                                                    th:selected="${d.id} == ${user.district.id}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Change Settings</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5"></div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Farma 2019</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="/pharmacy/js/bs-charts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/pharmacy/js/theme.js"></script>
</body>

</html>