<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - Farma</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/css/Sidebar-Menu-1.css}">
    <link rel="stylesheet" th:href="@{/css/Sidebar-Menu.css}">
    <link rel="stylesheet" th:href="@{/css/smoothproducts.css}">
    <link rel="stylesheet" th:href="@{/css/Header-Blue.css}">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" style="padding-top: 25px;color: #007bff;"><strong>GET IN TOUCH</strong></h2>
                <p>Feel free to contact our specialists to find out more about our prices and services.<br>We are always ready to answer your questions.</p>
            </div>
        </div>
        <form>
            <div class="form-group"><label>Name</label><input class="form-control" type="text"></div>
            <div class="form-group"><label>Subject</label><input class="form-control" type="text"></div>
            <div class="form-group"><label>Email</label><input class="form-control" type="email"></div>
            <div class="form-group"><label>Message</label><textarea class="form-control"></textarea></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
        </form>
        <h2 class="text-primary"><br></h2>
        <div class="card" style="background-color: rgb(231,231,231);">
            <div class="card-body" style="width: 878px;padding-left: 560px;">
                <p class="card-text">farma.io</p>
                <p class="card-text"><strong>Phone</strong>: 322 76 22(FAARMAA)<br></p>
                <p class="card-text"><strong>Address</strong>: Teknopark Istanbul</p><img th:src="@{/images/contacus.png}" width="300"></div>
        </div>
    </section>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/" style="font-size: 27px;">&nbsp;<i class="fas fa-store" style="color: rgb(0,123,255);font-size: 27px;"></i>&nbsp;Farma</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/" style="color: rgb(0,0,0);">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="faq" style="color: rgb(0,0,0);">FAQ</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/" style="color: rgb(0,0,0);">ABOUT US</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login">LOGIN</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="registration">SIGN UP</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link invisible" href="settings" style="font-weight: bold;color: #007bff;"><i class="fa fa-user-circle"></i>&nbsp;Yavuz SELIM POLAT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3" style="font-size: 14px;">
                    <h5>About us</h5>
                    <ul>
                        <li></li>
                        <li><a href="contactus">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3" style="font-size: 14px;">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-3" style="font-size: 14px;">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="terms">Terms of User&amp;Service</a></li>
                        <li></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p style="font-size: 14px;">© 2019 Copyright Farma</p>
        </div>
    </footer>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/js/smoothproducts.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/Sidebar-Menu.js"></script>
</body>

</html>